<div class="container">

<div class="header" style="background-image: url(<%= asset_path "prefectures/#{@prefecture.name.downcase}.jpg" %>)">
  <h1><%= @prefecture.name.upcase %></h1>
</div>

<h3> Capital: <%= @prefecture.capital %></h3>
<h3> Region: <%= @prefecture.region %></h3>

<% if @prefecture.visits.count == 0 %>
  <p>You have not visited <%= @prefecture.name %> yet</p>
<% end %>

<%= render @prefecture.visits %>

<%= link_to "Add a visit", new_prefecture_visit_path(@prefecture), class: "btn btn-gradient" %>

</div>
