<div class="container">

<div class="header" style="background-image: url(<%= asset_path "prefectures/#{@prefecture.name.downcase}.jpg" %>)">
  <h1><%= @prefecture.name.upcase %></h1>
</div>

<p> Capital: <%= @prefecture.capital %> | Region: <%= @prefecture.region %></p>

<% if @prefecture.visits.count == 0 %>
  <p>You have not visited <%= @prefecture.name %> yet</p>
<% else %>
  <h3>Places visited in <%= @prefecture.name %></h3>
<% end %>

<%= render @prefecture.visits %>

<%= link_to "Add a visit", new_prefecture_visit_path(@prefecture), class: "btn btn-gradient" %>

</div>
