<div class="container">

<div class="header">
  <h1><%= @prefecture.name %></h1>
</div>

<h3> Capital: <%= @prefecture.capital %></h3>
<h3> Region: <%= @prefecture.region %></h3>

<% @prefecture.visits.each do |visit| %>

  <div class="card-visit">
    <h2> <%= visit.place %></h2>
    <br>
    <p> <%= visit.description %> </p>
    <p> <%= visit.date_from %> </p>
    <p><%= visit.date_to %> </p>
    <p><%= link_to visit_path(visit), method: :delete, data: { confirm: "Delete this visit?" } do %>
      <i class='far fa-trash-alt'></i>
    <% end %>
      <%= link_to "Edit", edit_visit_path(visit) %></p>
  </div>
<% end %>

<%= link_to "Add a visit", new_prefecture_visit_path(@prefecture), class: "btn btn-gradient" %>
<%= link_to "Home", prefectures_path, class: "btn btn-gradient" %>

</div>
